
<div id="queue_elements" align="center">

	<font color="red">	
		<b> ALL ITEMS IN QUEUE MUST BE ABLE TO EJECT THEMSELVES FROM THE PRINT BED.<b>
		<b> DO NOT ATTEMPT TO USE THIS QUEUE UNLESS YOU KNOW WHAT YOU ARE DOING.<b>
		<b> YOU HAVE BEEN WARNED!! <b>
	</font>

	<select id="queued_files" style="width: 95%" size="20">
		<option value="test_01.gcode">test_01.gcode</option>	
		<option value="test_02.gcode">test_02.gcode</option>	
		<option value="test_03.gcode">test_03.gcode</option>	
		<option value="test_04.gcode">test_04.gcode</option>	
	</select>

	<div id="queue_buttons">
		<button class="btn btn.span4" data-bind="click: move_up">{{ _('Move up') }}</button>
		<button class="btn btn.span4" data-bind="click: move_down">{{ _('Move down') }}</button>
		<button class="btn btn.span4" data-bind="click: remove">{{ _('Remove') }}</button>
		<button class="btn btn.span4" data-bind="click: print_all">{{ _('Print all') }}</button>
	</div>
	<br><br>
	<div id="filament_elements">
		<button class="btn btn.span4" data-bind="click: change_spool">{{ _('Change spool') }}</button>
		<br>
		Filament remaining: <b>1000 cm^3</b>
	</div>

</div>
